@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

.container {
  background-color: rgba(255, 255, 255, 1);
  width: 28vw; 
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
}
.head {
  display: flex;
  justify-content: space-around;
}

.plan {
  font-weight: 600;
  color: #3c4852;
  line-height: 1vh;
  font-size: 16px;
}

.button {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  line-height: 3vh;
  align-items: center;
  justify-content: stretch;
  width: 10vw;
  font-weight: 400;
}

.inputBorder {
  width: 24vw;
  height: 7vh;
  border-radius: 4px;
  border: 1px solid #bebebe;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 7px;
}

.inputBorder label {
  display: flex;
  justify-content: space-between;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
  cursor: pointer;
}

.totalRupees {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.month {
  font-size: 12px
}

.mo {
  color: #bebebe;
  font-size: 10px;
}

.formtext{
font-size: 16px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  font-size: 0.8rem;
  line-height: 0vh;
  margin-top: -7px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.expire {
  background-color: #e7e7e7;
  width: 24vw;
  height: 7vh;
  margin: center;
  border-radius: 4px;
  border: 1px solid #bebebe;
  display: flex;
  align-items: center;
  color: #bebebe;
  margin-bottom: 7px;
  
}

.expire label {
  display: flex;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
  justify-content: space-between;
  cursor: no-drop;
}
.subscription_Container {
  display: flex;
  justify-content: space-between;
  width: 24vw;
  padding: 0rem 1.2rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  margin-top: 2vh;
}

.subscription_Container p {
  line-height: 0vw;
  margin-top: -4px;
}
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.expired_flag{
  position: absolute;
  top: 26vh;
  right: 32vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F77171;
  border-radius: 0px 0px 4px 4px;
  height: 16px;
  width: 121px;
  font-size: 0.70rem;
  color: white;
  font-weight: 500;
}

.recommend_flag{
  position: absolute;
  top: 34.5vh;
  right: 32vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #47BA68;
  border-radius: 0px 0px 4px 4px;
  height: 16px;
  width: 121px;
  font-size: 0.70rem;
  color: white;
  font-weight: 500;
}

.fee {
  display: flex;
  justify-content: space-around;
  margin-right: 10px;
  font-size: 16px;
}

.btn {
  display: flex;
  gap: 0.4vw;
  font-weight: 700;
}

.cancel {
  border: 1px solid rgba(247, 113, 113, 1);
  color: rgba(247, 113, 113, 1);
  padding: 0.64rem 2rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 12vw;
  font-size: 0.7rem;
  cursor: pointer;
}
.cancel:hover{
  color:rgba(255, 255, 255, 1);
  background-color: rgba(247, 113, 113, 1);;
}

.bothsame{
  font-size: 16px;
}

.pay {
  border: 1px solid #47ba68;
  border-radius: 4px;
  background-color: #47ba68;
  padding: 0.625rem 2rem;
  color: white;
  width: 12vw;
  font-size: 11px;
  cursor: pointer;
}
.pay:hover{
  border: 1px solid black;
  background-color: white;
  color: #47ba68;
}

.recommend {
  background-color: #d7eddd;
  width: 24vw;
  height: 7vh;
  margin: center;
  border-radius: 4px;
  border: 2px solid #47ba68;
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  cursor: pointer;
}

.recommend label {
  display: flex;
  padding: 1.1rem;
  font-size: 0.7rem;
  color: #3c4852;
  font-weight: 600;
  width: 22vw;
  justify-content: space-between;
}

.foot {
  display: flex;
  justify-content: space-between;
  padding: 0rem 1.2rem;
  align-items: center;
}

.foot .price {
  font-size: 1rem;
}

.razorContainer {
  width: 24vw;
}

.razorContainer img {
  width: 100px;
}
.newdiv{
  border: 1px solid rgba(247, 113, 113, 1);;
  height: 45px;
  width: 330px;
  background: linear-gradient(135deg, rgba(222, 67, 19, 0.2) 0%, rgba(222, 67, 19, 0.2) 0.75%, rgba(222, 67, 19, 0.2) 2.92%, rgba(222, 68, 20, 0.2) 6.37%, rgba(223, 69, 21, 0.2) 10.97%, rgba(223, 72, 22, 0.2) 16.59%, rgba(224, 75, 24, 0.2) 23.1%, rgba(225, 80, 27, 0.2) 30.37%, rgba(227, 86, 31, 0.2) 38.27%, rgba(229, 94, 36, 0.2) 46.66%, rgba(231, 104, 43, 0.2) 55.41%, rgba(235, 117, 51, 0.2) 64.39%, rgba(238, 132, 60, 0.2) 73.47%, rgba(243, 149, 71, 0.2) 82.52%, rgba(248, 169, 84, 0.2) 91.41%, rgba(254, 193, 99, 0.2) 100%);
  border-radius: 8px;
}
.newdiv h5{
  margin-top: 1px;
  margin-left: 6px;
  color: #DE4313;
}
.newpara{
  margin-top: -35px;
  margin-left: 272px;
  font-size: 12px;
  color: #3C4852;
  font-weight: bold;
}
.errorc{
  margin-top: -7px;
  margin-left: -7px;

}
.errpara{
  margin-top: -31px;
  margin-left: 28px;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #DE4313;
}

.horiz{
  border: 0.5px solid #a7adaf;
  width: 350px;
}
input[type="checkbox"] {
  display: none;
}
label {
  position: relative;
}
label .checkicon {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0px;
  margin-right: 7px;
}
label .roundborder {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0px;
  width: 12px;
  height: 12px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-left: 2px;
}
label .dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 7px;
  height: 7px;
  background-color: #BEBEBE
  ;
  border-radius: 50%;
}